@model Dictionary<String, List<ZenithDataLib.Models.Event>>
@{
    ViewBag.Title = "Zenith Society";
}

<div style="background:transparent !important" class="jumbotron" >
    <h1 class="text-center">Welcome to Zenith Society</h1>
    <p class="text-center">The Zenith Society is a family oriented non-for-profit organization that holds events during the week.</p>


</div>
<div class="container">
    <table class="table table-bordered">
        @foreach (var item in Model)
        {
            <tr>
                <th colspan="2" class="alert-success text-center">
                    @item.Key
                </th>
            </tr>
            foreach (var details in item.Value)
            {
                <tr>
                    <td>
                        @details.EventFrom.ToShortTimeString() - @details.EventTo.ToShortTimeString()
                    </td>
                    <td>
                        @details.Activity.ActivityDescription
                    </td>
                </tr>
            }
        }
    </table>
</div>