@model Dictionary<String, List<ZenithDataLib.Models.Event>>
@{
    ViewBag.Title = "Zenith Society";
}
<div class="jumbotron">
    <h1 style="color:darkgreen">Welcome to Zenith Society</h1>
    <p class="lead " style="color:forestgreen">A family oriented garden for the seniors.</p>


</div>
<div class="container">
    <table class="table table-bordered">
        @foreach (var item in Model)
        {
            <tr>
                <th colspan="2" class="success text-center">
                    @item.Key
                </th>
            </tr>
            foreach (var details in item.Value)
            {
                <tr>
                    <td>
                        @details.EventFrom.ToShortTimeString() - @details.EventTo.ToShortTimeString()
                    </td>
                    <td>
                        @details.Activity.ActivityDescription
                    </td>
                </tr>
            }
        }
    </table>
</div>